body {
	text-align: center;
	padding: 0;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.evazu {
	height: 570px;
}

.links {
	margin-top: 60px;
	white-space: nowrap;
}

.links a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 80px;
	background-size: 100% 100%;
}

.links a:hover {
	transform: scale(1.1) rotate(2deg);
	transition: ease all .1s;
}

.links a:last-child {
	margin-right: 0;
}

.links a.vk { background-image: url(vk.svg); }
.links a.fb { background-image: url(fb.svg); }
.links a.ig { background-image: url(ig.svg); }
.links a.be { background-image: url(be.svg); }
